[submodule "GCDWebServer"]
	path = GCDWebServer
	url = https://github.com/swisspol/GCDWebServer
[submodule "GZIP"]
	path = GZIP
	url = https://github.com/nicklockwood/GZIP.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
